.signature {
  font-style: italic;
  text-align: right;
  margin-top: 40px;
  margin-right: 40px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color:blueviolet
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: 'Georgia', sans serif;
  line-height: 2;
   box-shadow: 
    0 20px 40px rgba(104, 1, 178, 0.6),
    0 0 20px rgba(168, 85, 247, 0.3);
}
.title {
   font-family: 'Georgia', sans serif;
   color:blueviolet

}